<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	  <clear />
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="nightlies" value="https://f.feedz.io/wormiecorp/packages/nuget/index.json" />
  </packageSources>
</configuration>
